<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVETO - Bank Notifications</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.0.7/css/boxicons.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container_4">
        <div class="notifications_4">
            <div class="notifications-header_4">
                <h2 class="notifications-title_4">Bank Notifications</h2>
                <button class="notifications-action_4">View All Notifications</button>
            </div>
            <div class="notifications-content_4">
                <div class="notification_4">
                    <h3>Notification Title 1</h3>
                    <p>Notification details...</p>
                </div>
                <div class="notification_4">
                    <h3>Notification Title 2</h3>
                    <p>Notification details...</p>
                </div>
                <div class="notification_4">
                    <h3>Notification Title 3</h3>
                    <p>Notification details...</p>
                </div>
                <div class="notification_4">
                    <h3>Notification Title 4</h3>
                    <p>Notification details...</p>
                </div>
                <div class="notification_4">
                    <h3>Notification Title 5</h3>
                    <p>Notification details...</p>
                </div>
            </div>
    
        <div class="notifications-footer_4">
            <div class="notifications-footer-title_4">
                <h2>Summary</h2>
            </div>
            <div class="summary_4">
                <h3>Total Notifications</h3>
                <p>5</p>
            </div>
            <div class="summary_4">
                <h3>Unread Notifications</h3>
                <p>3</p>
            </div>
        </div>
        </div>
    </div>
    <nav class="menu">
        <ul>
            <li>
                <a href="/index.html"><i class="bx bx-home"></i></a>
            </li>
            <li>
                <a href="/views/Libreta.html"><i class="bx bx-book-bookmark"></i></a>
            </li>
            <li> 
                <a href="/views/transacciones.html"><i class="bx bx-grid-alt"></i></a>
            </li>
            <li> 
                <a href="/views/movimientos.html"><i class="bx bx-bell"></i></a>
            </li>
            <li> 
                <a href="/views/profile.html"><i class="bx bx-user-circle"></i></a>
            </li>
        </ul>
    </nav>
</body>
</html>

