<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVETO - User Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.0.7/css/boxicons.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container_1">
        <div class="profile_1">
            <div class="profile-header_1">
                <img src="storage/img/euro.jpg" class="profile-photo_1">
                <h2 class="username_1">John Doe</h2>
                <h3 class="user-location_1">Madrid, Spain</h3>
            </div>
            <div class="profile-stats_1">
                <div class="stat_1">
                    <h3>&#8364; 5,000</h3>
                    <p>Total Balance</p>
                </div>
                <div class="stat_1">
                    <h3>&#8364; 2,000</h3>
                    <p>Total Savings</p>
                </div>
            </div>
            <div class="profile-content_1">
                <div class="info-item_1">
                    <span>Email</span>
                    <p>johndoe@example.com</p>
                </div>
                <div class="info-item_1">
                    <span>Phone</span>
                    <p>+123 456 7890</p>
                </div>
                <div class="info-item_1">
                    <span>Address</span>
                    <p>123, ABC Street, XYZ City, Country</p>
                </div>
            </div>
            <div class="profile-actions_1">
                <button class="profile-action_1">Top-up</button>
                <button class="profile-action_1">Withdraw</button>
                <button class="profile-action_1">Send</button>
                <button class="profile-action_1">Pay</button>
            </div>
            <nav class="menu" >
                <ul>
                    <li>
                        <a href="/index.html"><i class="bx bx-home"></i></a>
                    </li>
                    <li>
                        <a href="/views/Libreta.html"><i class="bx bx-book-bookmark"></i></a>
                    </li>
                    <li> 
                        <a href="/views/transacciones.html"><i class="bx bx-grid-alt"></i></a>
                    </li>
                    <li> 
                        <a href="/views/movimientos.html"><i class="bx bx-bell"></i></a>
                    </li>
                    <li> 
                        <a href="/views/profile.html"><i class="bx bx-user-circle"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>
