<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVETO - Operations Center</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.0.7/css/boxicons.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container_operations_5">
        <div class="operations_center_5">
            <div class="operations_header_5">
                <h2 class="operations_title_5">Operations Center</h2>
            </div>
            <div class="operations_content_5">
                <div class="transaction_5">
                    <h3>Transaction Title</h3>
                    <p>Transaction details...</p>
                </div>
                <div class="transaction_5">
                    <h3>Transaction Title</h3>
                    <p>Transaction details...</p>
                </div>
                <div class="transaction_5">
                    <h3>Transaction Title</h3>
                    <p>Transaction details...</p>
                </div>
                <div class="transaction_5">
                    <h3>Transaction Title</h3>
                    <p>Transaction details...</p>
                </div>
                <div class="transaction_5">
                    <h3>Transaction Title</h3>
                    <p>Transaction details...</p>
                </div>

            </div>
            <div class="operations_footer_5">
                <h2>Summary</h2>
                <div class="summary_operations_5">
                    <h3>Total Transactions</h3>
                    <p>5</p>
                </div>
                <div class="summary_operations_5">
                    <h3>Total Operations</h3>
                    <p>5</p>
                </div>
                <div class="summary_operations_5">
                    <h3>Completed Operations</h3>
                    <p>3</p>
                </div>
                <div class="summary_operations_5">
                    <h3>Pending Operations</h3>
                    <p>2</p>
                </div>
            </div>
        </div>
    </div>
    <nav class="menu" >
        <ul>
            <li>
                <a href="/index.html"><i class="bx bx-home"></i></a>
            </li>
            <li>
                <a href="/views/Libreta.html"><i class="bx bx-book-bookmark"></i></a>
            </li>
            <li> 
                <a href="/views/transacciones.html"><i class="bx bx-grid-alt"></i></a>
            </li>
            <li> 
                <a href="/views/movimientos.html"><i class="bx bx-bell"></i></a>
            </li>
            <li> 
                <a href="/views/profile.html"><i class="bx bx-user-circle"></i></a>
            </li>
        </ul>
    </nav>
</body>
</html>

